<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freeTime.dao.StorageSaleOrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.freeTime.domain.StorageSaleOrderInfo" >
    <result column="part_order_create_time" property="partOrderCreateTime" jdbcType="DATE" />
    <result column="part_order_no" property="partOrderNo" jdbcType="VARCHAR" />
    <result column="part_no" property="partNo" jdbcType="VARCHAR" />
    <result column="part_name" property="partName" jdbcType="VARCHAR" />
    <result column="service_station_no" property="serviceStationNo" jdbcType="VARCHAR" />
    <result column="service_station_split_no" property="serviceStationSplitNo" jdbcType="VARCHAR" />
    <result column="warehouse_area" property="warehouseArea" jdbcType="VARCHAR" />
    <result column="position_items" property="positionItems" jdbcType="VARCHAR" />
    <result column="part_supplier_no" property="partSupplierNo" jdbcType="VARCHAR" />
    <result column="part_supplier_name" property="partSupplierName" jdbcType="VARCHAR" />
    <result column="purchase_num" property="purchaseNum" jdbcType="INTEGER" />
    <result column="purchase_unit_price" property="purchaseUnitPrice" jdbcType="INTEGER" />
    <result column="purchase_count_price" property="purchaseCountPrice" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <insert id="insert" parameterType="com.freeTime.domain.StorageSaleOrderInfo" >
    insert into storage_sale_order_info (part_order_create_time, part_order_no, part_no, 
      part_name, service_station_no, service_station_split_no, 
      warehouse_area, position_items, part_supplier_no, 
      part_supplier_name, purchase_num, purchase_unit_price, 
      purchase_count_price, order_status, order_type, 
      order_num, operator)
    values (#{partOrderCreateTime,jdbcType=DATE}, #{partOrderNo,jdbcType=VARCHAR}, #{partNo,jdbcType=VARCHAR}, 
      #{partName,jdbcType=VARCHAR}, #{serviceStationNo,jdbcType=VARCHAR}, #{serviceStationSplitNo,jdbcType=VARCHAR}, 
      #{warehouseArea,jdbcType=VARCHAR}, #{positionItems,jdbcType=VARCHAR}, #{partSupplierNo,jdbcType=VARCHAR}, 
      #{partSupplierName,jdbcType=VARCHAR}, #{purchaseNum,jdbcType=INTEGER}, #{purchaseUnitPrice,jdbcType=INTEGER}, 
      #{purchaseCountPrice,jdbcType=INTEGER}, #{orderStatus,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.freeTime.domain.StorageSaleOrderInfo" >
    insert into storage_sale_order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partOrderCreateTime != null" >
        part_order_create_time,
      </if>
      <if test="partOrderNo != null" >
        part_order_no,
      </if>
      <if test="partNo != null" >
        part_no,
      </if>
      <if test="partName != null" >
        part_name,
      </if>
      <if test="serviceStationNo != null" >
        service_station_no,
      </if>
      <if test="serviceStationSplitNo != null" >
        service_station_split_no,
      </if>
      <if test="warehouseArea != null" >
        warehouse_area,
      </if>
      <if test="positionItems != null" >
        position_items,
      </if>
      <if test="partSupplierNo != null" >
        part_supplier_no,
      </if>
      <if test="partSupplierName != null" >
        part_supplier_name,
      </if>
      <if test="purchaseNum != null" >
        purchase_num,
      </if>
      <if test="purchaseUnitPrice != null" >
        purchase_unit_price,
      </if>
      <if test="purchaseCountPrice != null" >
        purchase_count_price,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="operator != null" >
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partOrderCreateTime != null" >
        #{partOrderCreateTime,jdbcType=DATE},
      </if>
      <if test="partOrderNo != null" >
        #{partOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="partNo != null" >
        #{partNo,jdbcType=VARCHAR},
      </if>
      <if test="partName != null" >
        #{partName,jdbcType=VARCHAR},
      </if>
      <if test="serviceStationNo != null" >
        #{serviceStationNo,jdbcType=VARCHAR},
      </if>
      <if test="serviceStationSplitNo != null" >
        #{serviceStationSplitNo,jdbcType=VARCHAR},
      </if>
      <if test="warehouseArea != null" >
        #{warehouseArea,jdbcType=VARCHAR},
      </if>
      <if test="positionItems != null" >
        #{positionItems,jdbcType=VARCHAR},
      </if>
      <if test="partSupplierNo != null" >
        #{partSupplierNo,jdbcType=VARCHAR},
      </if>
      <if test="partSupplierName != null" >
        #{partSupplierName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNum != null" >
        #{purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="purchaseUnitPrice != null" >
        #{purchaseUnitPrice,jdbcType=INTEGER},
      </if>
      <if test="purchaseCountPrice != null" >
        #{purchaseCountPrice,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.freeTime.domain.StorageSaleOrderInfoExample" resultType="java.lang.Integer" >
    select count(*) from storage_sale_order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update storage_sale_order_info
    <set >
      <if test="record.partOrderCreateTime != null" >
        part_order_create_time = #{record.partOrderCreateTime,jdbcType=DATE},
      </if>
      <if test="record.partOrderNo != null" >
        part_order_no = #{record.partOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.partNo != null" >
        part_no = #{record.partNo,jdbcType=VARCHAR},
      </if>
      <if test="record.partName != null" >
        part_name = #{record.partName,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceStationNo != null" >
        service_station_no = #{record.serviceStationNo,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceStationSplitNo != null" >
        service_station_split_no = #{record.serviceStationSplitNo,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseArea != null" >
        warehouse_area = #{record.warehouseArea,jdbcType=VARCHAR},
      </if>
      <if test="record.positionItems != null" >
        position_items = #{record.positionItems,jdbcType=VARCHAR},
      </if>
      <if test="record.partSupplierNo != null" >
        part_supplier_no = #{record.partSupplierNo,jdbcType=VARCHAR},
      </if>
      <if test="record.partSupplierName != null" >
        part_supplier_name = #{record.partSupplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseNum != null" >
        purchase_num = #{record.purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseUnitPrice != null" >
        purchase_unit_price = #{record.purchaseUnitPrice,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseCountPrice != null" >
        purchase_count_price = #{record.purchaseCountPrice,jdbcType=INTEGER},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        order_num = #{record.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update storage_sale_order_info
    set part_order_create_time = #{record.partOrderCreateTime,jdbcType=DATE},
      part_order_no = #{record.partOrderNo,jdbcType=VARCHAR},
      part_no = #{record.partNo,jdbcType=VARCHAR},
      part_name = #{record.partName,jdbcType=VARCHAR},
      service_station_no = #{record.serviceStationNo,jdbcType=VARCHAR},
      service_station_split_no = #{record.serviceStationSplitNo,jdbcType=VARCHAR},
      warehouse_area = #{record.warehouseArea,jdbcType=VARCHAR},
      position_items = #{record.positionItems,jdbcType=VARCHAR},
      part_supplier_no = #{record.partSupplierNo,jdbcType=VARCHAR},
      part_supplier_name = #{record.partSupplierName,jdbcType=VARCHAR},
      purchase_num = #{record.purchaseNum,jdbcType=INTEGER},
      purchase_unit_price = #{record.purchaseUnitPrice,jdbcType=INTEGER},
      purchase_count_price = #{record.purchaseCountPrice,jdbcType=INTEGER},
      order_status = #{record.orderStatus,jdbcType=VARCHAR},
      order_type = #{record.orderType,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>